.portadaPago {
  background-image: url("../img/pago.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100% auto;
  width: 100% auto;
  background-size: cover;
}

@media only screen and (max-width: 1000px) {
  .portadaPago {
    background-image: url("../img/pagoMobile.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-size: cover;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fondoForm{
background-color: #F8F9FA;
}

.btnRed {
  background-color: #c90101;
  color: white;
}

.btnGreen {
  background-color: #0b6214;
  color: white;
}

.totalPagar {
  font-size: 30px;
  color: grey;
}
.formasPago {
  font-size: 30px;
  color: grey;
  margin-bottom: 1em;
}

.montoPagar {
  font-size: 50px;
  color: grey;
  font-weight: bold;
}

.required {
  color: red;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}