.containerPantalla1 {
  background-image: url("../img/banner1.png");
  background-repeat: no-repeat;
  background-position: center; 
  height: 16vh;
}


@media only screen and (max-width: 1000px) {
  .containerPantalla1 {
    background-image: url("../img/baner-mobile1.png");
    background-repeat: no-repeat;
    background-position: center; 
    height: 110px;
  }
}


@media only screen and (max-width: 990px) {
  .containerInfo .row .col-md-3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-md-row {
    flex-direction: row;
  }
  .card {
    width: 100%;
    margin: 10px;
  }
}
  @media only screen and (max-width: 620px) {
    .containerInfo .row .col-md-3 {
      flex-basis: 60%;
      max-width: 50%;
    }
  
    .text-center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .flex-md-row {
      flex-direction: row;
    }
    .card {
      width: calc(90%); 
      height: calc(70%); 
      margin: 10px;
    }
  
    .card-body {
      padding: 10px;
    }
  }


.title {
  color: gray;
}

.card-img-top {
  height: 10px;
  object-fit: cover;
}
.card {
  border-radius: 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}

#textDecoration {
  text-decoration: none;
  font-weight: bold;
  color: grey;
  font-size: 1em;
}

.linkNoUnderline{
text-decoration: none;
}

.customBtn {
  width: 200px;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.btnRed {
  background-color: #c90101;
  color: white;
}

.btnGreen {
  background-color: #0b6214;
  color: white;
}
